.hero-content {
    @media @desktop {
        margin: 0px 15%;
    }
    .hero-text {
        display: flex;
        align-content: center;
        flex-direction: column;
        background-image: url("/img/ropes.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        
        h1 {
            text-align: center;
            padding: 170px 10% 10px 10%;
            margin: 0px 3%;
            color: @white;
            font-size: @h1-font;
            font-style: italic;

            @media @desktop {
                padding: 350px 0% 50px 0%;
                margin: 0px 20%;
                line-height: 1.2;
                font-size: 7.5rem;
                color: @lambda-fit-red;
                -webkit-text-stroke: white 1px;
            }
        }
        a{
            text-decoration: none;
            color: #000000;
        
            button {
                padding: 10px 0%;
                font-size: 2.2rem;
                background-color: @white;
                border: 2px solid @white;
                border-radius: 10px;
                width: 100%;
                cursor: grab;
            }
        }
    }
}