.hero-content{
    margin-top: -9px;
    display: flex;
    flex-direction: column;
    background-color: black;

    .hero-text{
        div > h1 {
        text-align: center;
        font-size: 5rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 83px;   
        color: white;    
        }
        div > p{
            text-align: center;
            padding: 0px 30%;
            font-size: 2rem;
            margin-top: 14px;
            line-height: 1.25;
            color: #808080;
        }
        a{
            display: flex;
            justify-content: center;
            text-decoration: none;
            margin-top: 11px;
            button{
                font-size: 2rem;
                font-family: 'Montserrat', sans-serif;
                padding: 16px 4.4%;
                border-radius: 5px;
                cursor: pointer;
                background-color: white;
            }
        }
    }
    .hero-image{
        margin: 55px 22.2% 0px 22.2%;
        img{
            width: 100%;
            height: auto;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-bottom: -2px;
        }
    }
}