* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    max-width: 3000px;
  }
  
  html, body {
    font-family: 'Karla', sans-serif;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  body {  
    box-sizing: border-box;
    max-width: 500px;
    margin: 0px auto;
    background-image: url('/img/red-blue-texture.jpg');
    background-size: auto;
    background-repeat: repeat;
    background-position-x: center;
    color: @white;

    @media @desktop {
      max-width: 2000px;
      padding: 0px 0%;
    }
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}