* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  @import './mixins.less';
  
body {  
    box-sizing: border-box;
    min-width: 300px;
    margin: 0;
}

.nav-bar{
    
    nav{

    display: flex;
    justify-content: center;
    }
}
  