.nav-bar{
    background-color: @lambda-fit-red;
    width: 100%;
    margin-bottom: 10px;

    @media @desktop{
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
    }
    a{
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0px 3%;

        h1{
            color: @white;
            font-size: 2.4rem;

            @media @desktop{
                display: flex;
                align-items: center;
                padding: 0px 0% 0px 3%;
                font-weight: bold;
            }
        }
    }
    nav{
        display: flex;
        justify-content: space-around;
        padding: 15px 0%;

        @media @desktop{
            justify-content: flex-end;
            width: 50%;
        }
        
        a{
            padding: 5px 2%;
            text-decoration: none;
            color: @white;
            font-size: @p-font;
            width: 32%;
            text-align: center;
            
            @media @desktop{
                width: 15%;
            }
        }
    }
}

.dropdown {
    cursor: pointer;
    .dropdown-button {
      padding: 15px;
      border: 3px solid @white;
      color: @white;
      font-size: 20px;
      font-weight: bold;

      &:hover {
        background-color: black;
      }
    }
    .dropdown-content {
      width: 100%;
      position: absolute;
      background-color: @white;
      display: flex;
      flex-direction: column;
      align-items: center; 
      border: 2.5px solid @lambda-fit-red;
    }
    .dropdown-link {
      width: 100%;
      text-align: center;
      padding: 15px 0;
      font-size: 18px;
      text-decoration: none;
      color: @lambda-fit-red;

      &:hover {
        color: @white;
        background-color: @lambda-fit-red;
      }
    }
    .dropdown-hidden {
      display: none;
    }
}

